body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: rgb(36, 37, 39);

    /* background-image: url('./Fast-spaceship.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;  */
}

#menu
{
    flex-grow: 1;
	position: fixed;
	width: 100%;
	background: rgb(195, 199, 207);
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	top: 0%;
	right: 0;
	left: 0;
}
/* 
#menu li{ 
	float: right;
} */

#menu li span{ 
	display: block;
	color: rgb(156, 180, 204);
	text-decoration: none;
	text-align: center;
	padding: 20px 20px; 
	margin-right: auto;
}

#menu li a{
	display: block;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	padding: 20px 20px; 
	margin: 0 1em;
}

li a:hover {
	background-color: rgb(60, 62, 65);
  }

li a:active {
background-color: rgb(177, 183, 189);
}

#content{
    flex-grow: 1;
    margin-top: 50px;

}

#welcome-info{
    background-color: #ffffff;
    opacity: 0.5;
    list-style-type: none;
    margin: 5px 5px 5px 5px;
}