/* body {
    display: flex;
    flex-direction: row;
    height: 100vh;
	background-image: url("images/background3.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;  
} */

#menu
{
    flex-grow: 1;
	width: 100%;
	background: rgb(30 32 37);
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 0%;
	right: 0;
	left: 0;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

#menu-container
{
    flex-grow: 1;
	position: fixed;
	width: 100%;
	background: rgb(30 32 37);
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 0%;
	right: 0;
	left: 0;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* 
#menu li{ 
	float: right;
} */

#menu li span{ 
	display: block;
	color: rgb(156, 180, 204);
	text-decoration: none;
	text-align: center;
	padding: 20px 20px; 
	margin-right: auto;
}

#menu li {
	display: block;
	color: #ffffff;
	
	text-decoration: none;
	text-align: center;
	padding: 5px; 
	margin: 0 1em;
}

.menu-button{
    background-color: transparent;
    border: 0;
    padding: 5px;
	color: #ffffff;
}

.menu-button:hover {
	background-color: rgb(108, 111, 115);
  }

.menu-button:active {
    background-color: rgb(177, 183, 189);
}

#content{
    flex-grow: 1;
    margin-top: 50px;

}


.body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: row;
	height: 100vh;
	background-image: url("images/background3.jpg");
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center center;  
}
.body:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.body-game {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgb(36, 37, 39);
	display: flex;
	flex-direction: row;
	}
.blur {
	background: rgb(0 0 0 / 20%);
	backdrop-filter: blur(6px);
	height: 100vh;
	width: 100%;
}
.formContent {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 550px;
	padding: 80px 40px 20px 40px;
	box-sizing: border-box;
	background: rgb(255 255 255 / 11%);
	box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
	border-radius: 10px;
	max-height: 75%;
}
.avatarImg {
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	top: calc(-80px/2);
	left: calc(50% - 40px);
}

.avatarImgSquared {
	position: absolute;
	width: 80px;
	height: auto;
	overflow: hidden;
	top: calc(-80px/2);
	left: calc(50% - 40px);
}
.formContent h2 {
	margin: 0;
	padding: 0 0 20px;
	color: #fff;
	text-align: center;
	/* text-transform: uppercase; */
}
.formContent label {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.formContent input {
	width: 100%;
	margin-bottom: 20px;
}
.formContent input, .formContent input[type="text"], .formContent input[type="password"], .formContent input[type="email"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.formContent input[type="radio"] {
	height: 15px;
}
.formContent input[type="submit"], .formContent input[type="button"] {
	color: #000;
	font-size: 16px;
	background: #e8e8e8;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #000;
	outline: none;
	margin-top: 5px;
	padding: 10px 10px 10px 10px;
}
.formContent input[type="submit"]:hover, .formContent input[type="button"]:hover{
	color: #fff;
	background: rgb(30 32 37);
}
.formContent a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
input[type="checkbox"] {
	width: 6%;
}
.remember span {
	color: #fff;
}
.remember span a {
	color: #fff;
}
.login {
	color: #fff;
	text-align: center;
	margin: 20px 0;
}
.Oroption-before {
	content: "";
    display: block;
    width: 115px;
    height: 1px;
    background: #e8e8e8;
    left: 0;
    /* position: absolute; */
    left: 15%;
    margin-top: 10px;
}
.Oroption-after {
	content: "";
    display: block;
    width: 115px;
    height: 1px;
    background: #e8e8e8;
    right: 58px;
    /* top: 50%; */
    /* position: absolute; */
    margin-top: -10px;
}
.links {
	display: flex;
	cursor: pointer;
	color: white;
	margin: 0 0 20px 0;
}

.links i {
	font-size: 17px;
}
i span {
	margin-left: 8px;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 16px;
}
.signup {
	font-size: 15px;
	color: white;
	text-align: center;
}
.signup a {
	color: #387aff;
	text-decoration: none;
}
#welcome-info{
    list-style-type: none;
    margin: 5px 5px 5px 5px;
}


#startButton {
	position: relative;
	z-index: 9999;
  }

.form{
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 10px;
}

.container-column{
	display: flex;
	flex-direction: column;
}

.container-row{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: baseline;
}

.container-row-center{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.weapon{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#welcome-screen{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.font{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}

.bold {
    color: #58c260;
  }

  .modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 600px;
	position: relative;
  }
  
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

  .footer {
	width: 100%;
	background-color: rgb(30 32 37);
	color: white;
	text-align: center;
  }

  .footer ul{
	list-style-type: none;
  }


.form::-webkit-scrollbar {
	width: 12px;
}

.form::-webkit-scrollbar-track {
	border-radius: 8px;
	background-color: #e7e7e7;
	border: 1px solid #cacaca;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.form::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #363636;
}


.new-game-button{
	display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #d8d8d8;
    border-radius: 50px;
    border: white;
    height: 35px;
    font-size: inherit;
}

.menu-new-game-button:hover {
	background-color: rgb(108, 111, 115);
  }

.scroll::-webkit-scrollbar {
	width: 12px;
}

.scroll::-webkit-scrollbar-track {
	border-radius: 8px;
	background-color: #e7e7e7;
	border: 1px solid #cacaca;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.scroll::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #363636;
}